<div class="row no-gutters">
  <div class="col-md-12 text-center">
    <h3>Le mie prenotazioni</h3>
  </div>
</div>
<div class="card my-2" *ngFor="let reservation of wreservations | orderBy: 'reservation.Interval.StartTime' : 'ture'" >
  <div class="card-header">
    <a class="btn btn-sm float-right" routerLink="/qrmap" *ngIf="reservation.Status == 1">
      <i class="fa fa-check"></i>
    </a>
    <a class="btn btn-sm float-right" (click)="delete(reservation)" *ngIf="reservation.Status == 0">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="card-body" [ngClass]="{'bg-light': reservation.Status == 2}">
    <h6>Stanza: {{reservation.WorkSpace.Name}}</h6>
    <h6>Persone: {{reservation.Users}} su {{reservation.WorkSpace.AllSeats}} posti</h6>
    <h6>
      Inizio: {{reservation.Interval.StartTime | amLocale:'it' | amTimeAgo }}
      Fine:   {{reservation.Interval.EndTime   | amLocale:'it' | amCalendar}}
    </h6>
  </div>
</div>
