<div class="row p-4 mt-4 no-gutters text-center" *ngIf="IsVisible">
    <div class="col-4">
        <a routerLink="/home" routerLinkActive="active" class="mx-2">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-4">
        <a routerLink="/reservation" routerLinkActive="active" class="mx-2">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-4">
        <a routerLink="/user" routerLinkActive="active" class="mx-2">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>