.vh-45{

    min-height: 20vh;
}
.border-thick{

    border-width: medium;
    border-radius: 10px;
    }
.form-control{
    border-width: medium;
    border-radius: 10px;
    color:white;
    background-color:#5cb85c;
}