<head><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></head>
    <div class="col-md-4 offset-md-4 ">
      <div class="card">
        
        <div class="card-header">
             <img class="card-img-top" src="../../assets/Intesa_Sanpaolo.svg.png" alt="Card image cap">
          </div>
            <div class="card-body">  
              <h4 class="card-title">CERCA COLLEGHI</h4>
              <p class="card-text">Scrivi il nome dei tuoi colleghi per verificare in quale edificio e stanza hanno fatto check in</p>
          
          <input class="form-control py-2" type="search" [(ngModel)]="userFilter.Username" placeholder="Cerca collega" >
 
          
            <div *ngFor="let user of users | filterBy: userFilter">
           
              <ul class="list-group">
                <li class="list-group-item" routerLink='{{user.Id}}'>{{user.Username}} </li>
               
              </ul>
            </div>    
      </div>
       <div class="card-footer">
        <i class="fa fa-home fa-2x" aria-hidden="true" routerLink="/home" ></i>
        
        <i class="fa fa-calendar fa-2x col-md-4 offset-md-4" aria-hidden="true" routerLink="/reservations"></i>

        <i class="fa fa-user-o  fa-2x col-md-1 offset-md-1  " aria-hidden="true" ></i>
        
      
  </div>

</div>
      </div>
      
            
            
 