<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
      <div class="card my-4">
<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="../../assets/meeting.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Prenota un posto</h5>
    
    <div class="btn-group"></div>
    <button type="button" class="btn btn-light btn-block dropdown-toggle p-2"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Edificio
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <div class="btn-group"></div>
    <button type="button" class="btn btn-light btn-block dropdown-toggle p-2"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Data
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <div class="btn-group"></div>
    <button type="button" class="btn btn-light btn-block dropdown-toggle p-2"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Durata
    </button>
  </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <button type="button" class="btn btn-secondary btn-xs mx-16">Verifica disponibilitá</button>
  </div>
</div>
