<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <div class="card my-4">
      <img class="card-img-top" src="../../assets/meeting.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Prenota un posto</h5>
        <div class="btn-group btn-block m-2" dropdown>
          <button id="db1" dropdownToggle type="button" class="btn btn-light btn-block dropdown-toggle"
              aria-controls="dbb1">
            {{selectedBuilding == null ? "Edificio" : selectedBuilding?.Name}} <span class="caret"></span>
          </button>
          <ul id="dbb1" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="db1">
            <li role="menuitem" *ngFor="let building of buildings"><a class="dropdown-item"
            (click)="setBuilding(building)">{{building?.Name}}</a></li>
          </ul>
        </div>
        <div class="btn-group btn-block m-2" dropdown>
          <input type="text"
                 placeholder="Seleziona data"
                 class="form-control m-2"
                 bsDaterangepicker >
            </div>
              <timepicker [formControlName]="'Entrata'"></timepicker>
               
                <div>
                  <timepicker [formControlName]="'myControl'"></timepicker>
                </div>
        <button class="btn btn-block btn-light m-2" (click)= "Verifica()">Verifica disponibilitá</button>
      </div>
    </div>
  </div>
</div>
