<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="coll_1">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Role
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="Username" [(ngModel)]="usersins.Username">
          </td>
          <td>
            <input placeholder="Password" [(ngModel)]="usersins.Password">
          </td>
          <td>
            <select placeholder="Role" [(ngModel)]="usersins.Role">
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
              
            </select>
          </td>
          <td>
            <button (click)="insert(usersins)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.Username">
          </td>
          <td>
            <input [(ngModel)]="user.Password">
          </td>
          <td>
            <input [(ngModel)] = "user.Role">
          </td>
          <td>
            <button (click)=update(user)>Update</button>
          </td>
          <td>
            <button (click)="delete(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>