<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
      <div class="card my-4">
          <!--Login Component?-->
          <h5 class="card-title">CERCA UN COLLEGA</h5>
          <p class="card-text">Scrivi il nome dei tuoi colleghi per verificare in quale edificio e stanza hanno fatto check in</p>
          <input class="form-control" type="text" placeholder="Scrivi il nome del collega" aria-label="Search">
          <ul *ngFor="let user of users">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{user.Username}}</li>
            </ul>
        </ul>
      </div>
  </div>
</div>