<head><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></head>
    <div class="col-md-4 offset-md-4 ">
      <div class="card">
        
        <div class="card-header">
             <img class="card-img-top" src="../../assets/Intesa_Sanpaolo.svg.png" alt="Card image cap">
          </div>
            <div class="card-body">  
              <h4 class="card-title">{{foundUserWorkSpace?.User?.Username}}</h4>
              <ng-container *ngIf="foundUserWorkSpace==null else  elseTemplate">
              <p class="card-text">non si trova</p>
                    
            </ng-container>
            <ng-template #elseTemplate>
              <p class="card-text">in questo momento si trova a: {{foundUserWorkSpace?.WorkSpaceReservation?.WorkSpace?.Name}}</p>
          </ng-template>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Altre persone: {{foundUserWorkSpace?.WorkSpaceReservation?.Users - 1}} </button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"routerLink="/reservation/reservations">Prenota un posto </button>
             
              
      </div>
       <div class="card-footer">
        <i class="fa fa-home fa-2x" aria-hidden="true" routerLink="/home" ></i>
        
        <i class="fa fa-calendar fa-2x col-md-4 offset-md-4" aria-hidden="true" routerLink="/reservation"></i>

        <i class="fa fa-user-o  fa-2x col-md-1 offset-md-1  " aria-hidden="true" ></i>
        
      
  </div>

</div>
      </div>
      