<div class="row no-gutters">
  <div class="col-md-12 vh-45"></div>
      <ng-container *ngIf="foundUserWorkSpace==null else  elseTemplate">
        <div class="alert alert-success">
          <strong>Info!</strong> In questo momento {{user?.Username}} non ha effettuato nessun checkin.   
      </div>      
      </ng-container>
      <ng-template #elseTemplate>
        <p class="card-text">in questo momento si trova a: {{foundUserWorkSpace?.WorkSpaceReservation?.WorkSpace?.Name}}</p>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Altre persone: {{foundUserWorkSpace?.WorkSpaceReservation?.Users - 1}} </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block"routerLink="/reservation/reservations">Prenota un posto </button>
      </ng-template>
        
</div>

     
      