
  <div class="row no-gutters">
    <div class="col-md-12 vh-45"></div>
      <div class="btn-group btn-outline-dark btn-block m-2" dropdown>
        <button id="db1" dropdownToggle type="button" class="btn btn-light btn-outline-dark btn-block dropdown-toggle m-2 p-2"
          aria-controls="dbb1">
          {{selectedBuilding == null ? "Edificio" : selectedBuilding?.Name}} <span class="caret"></span>
        </button>
        <ul id="dbb1" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="db1">
          <li role="menuitem" *ngFor="let building of buildingList"><a class="dropdown-item"
              (click)="setBuilding(building)">{{building?.Name}}</a></li>
        </ul>
      </div>
      <div class="btn-group btn-outline btn-block m-2 p-2" dropdown>
        <input type="text" placeholder="Seleziona data" class="form-control m-2" bsDatepicker [(ngModel)]="startDate">
      </div>
      <div class="btn-group btn-outline-dark btn-block m-2" dropdown>
        <button id="db1" dropdownToggle type="button" class="btn btn-light btn-outline-dark btn-block dropdown-toggle m-2 p-2"
          aria-controls="dbb1">
          {{durata < 0 ? 'Durata' : Durate[durata]}} <span class="caret"></span>
        </button>
        <ul id="dbb1" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="db1">
          <li role="menuitem" *ngFor="let item of Durate; let i=index">
            <a class="dropdown-item" (click)="durata=i">{{item}}</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-block btn-outline-dark btn-warning m-2 p-2" (click)="verifica()">Verifica disponibilitá</button>
    </div>
