
  <div class="row no-gutters">
      <div class="btn-group btn-green border-thick btn-block m-2" dropdown>
        <button id="db1" dropdownToggle type="button" class="btn border-thick btn-block dropdown-toggle text-white"
          aria-controls="dbb1">
          <h6>
            {{selectedBuilding == null ? "Edificio" : selectedBuilding?.Name}} <span class="caret"></span>
          </h6>
        </button>
        <ul id="dbb1" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="db1">
          <li role="menuitem" *ngFor="let building of buildingList"><a class="dropdown-item"
              (click)="setBuilding(building)"><h6>{{building?.Name}}</h6></a></li>
        </ul>
      </div>
      <div class="btn-group  border-thick  btn-block m-2 p-2" dropdown>
        <input type="text" placeholder="Seleziona data" class="form-control m-2" bsDatepicker [(ngModel)]="startDate">
      </div>
      <div class="btn-group border-thick btn-green btn-block m-2" dropdown>
        <button id="db2" dropdownToggle type="button" class="btn border-thick btn-block dropdown-toggle text-white"
          aria-controls="dbb2">
          {{durata < 0 ? 'Durata' : Durate[durata]}} <span class="caret"></span>
        </button>
        <ul id="dbb2" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="db2">
          <li role="menuitem" *ngFor="let item of Durate; let i=index">
            <a class="dropdown-item" (click)="durata=i">{{item}}</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-block btn-green border-thick m-2 p-2" (click)="verifica()">Verifica disponibilitá</button>
    </div>
