.vh-45{

    min-height: 20vh;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color:#5cb85c;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .border-thick{

    border-width: medium;
    border-radius: 10px;
    }
    .form-control{
        border-width: medium;
        border-radius: 10px;
        color:white;
        background-color:#5cb85c;
        border-color: #5cb85c;
        text-align: center;

    }
    .bs-datepicker-head{

       color: #5cb85c;
    }
     .theme-green {
        background-color: #5cb85c;
    }
    .btn-green {
        background-color: #5cb85c;
        color: white;
    }
    