<div class="row">
  <div class="col-12">
    <!--Menu-->
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/">Home</a>
          <a class="nav-item nav-link" routerLink="/admin">admin</a>
          <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Logout</a>
      </div>
    </nav>
    <div class="col-12">
      <alert class="sticky-top"></alert>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>