<div class="my-auto">
  <div class="row vh-33">
    <div class="col-md-12 m-2">
      <a routerLink="/qrmap" class="btn btn-lg btn-space  btn-warning btn-block">Checkin</a>
    </div>
  </div>
  <div class="row vh-33">
    <div class="col-md-12 m-2">
      <a routerLink="/reservation/reservation" class="btn btn-lg btn-space btn-warning btn-block">Luoghi</a>
    </div>
  </div>
  <div class="row vh-33">
    <div class="col-md-12 m-2">
      <a routerLink="/user" class="btn btn-lg btn-space  btn-warning btn-block">Colleghi</a>
    </div>
  </div>
</div>