
<div class="row no-gutters">
  <div class="col-md-12 vh-45"></div>
  <div class="col-md-12 text-center">
    <a routerLink="/user/check/qrmap" class="btn btn-outline-dark btn-block btn-lg btn-green p-2 mt-2">Checkin</a>
  </div>
  <div class="col-md-12 text-center">
    <a routerLink="/reservation/reservation" class="btn btn-outline-dark btn-block btn-lg btn-green p-2 mt-2">Luoghi</a>
  </div>
  <div class="col-md-12 text-center">
    <a routerLink="/user" class="btn btn-outline-dark btn-block btn-lg btn-green p-2 mt-2 ">Colleghi</a>
  </div>
</div>