<div class="container-fluid"></div>
  <div class="row mt-5">
    <div class="col-md-12">
      <a routerLink="/qrmap" class="btn-lg btn-space  btn-warning btn-block p-2">Checkin</a>
      </div>
      </div>
      <div class= "container"></div>
      <div class="row mt-4">
        <div class="col-md-12"></div>
        <a routerLink="/reservation/reservation" class="btn-lg btn-space btn-warning btn-block p-2">Luoghi</a>
      </div>
      <div class="row mt-5">
        <div class="col-md-12"></div>
        <a routerLink="/user" class="btn-lg btn-space  btn-warning btn-block p-2">Colleghi</a>
      </div>