
  <div class="row no-gutters">
    <div class="col-md-12 vh-45"></div>
      <div class="btn-group border-thick btn-outline-dark btn-block m-2" dropdown>
        <button id="db1" dropdownToggle type="button" class="btn btn-light border-thick btn-outline-dark btn-block dropdown-toggle m-2 p-2"
          aria-controls="dbb1">
          {{selectedRoom == null ? "Stanza" : selectedRoom?.Name}} <span class="caret"></span>
        </button>
        <ul id="dbb1" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="db1">
          <li role="menuitem" *ngFor="let room of roomList"><a class="dropdown-item"
              (click)="setRoom(room)">{{room?.Name}}</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-block border-thick btn-warning btn-lg btn-outline-dark m-2 p-2" (click)="conferma()">Conferma Prenotazione</button>
  </div>
  
