<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="coll_1">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Features
          </th>
          <th>
            AllSeats
          </th>
          <th>
            Seats
          </th>
          <th>
            SubMap
          </th>
          <th>
            Building
          </th>
          <th>
            Edit
          </th>
          <th>
            Room
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="Name" [(ngModel)]="roomins.Name">
          </td>
          <td>
            <input placeholder="Features" [(ngModel)]="roomins.Features">
          </td>
          <td>
            <input placeholder="AllSeats" [(ngModel)]="roomins.AllSeats">
          </td>
          <td>
            <input placeholder="Seats" [(ngModel)]="roomins.Seats">
          </td>
          <td>
            <input placeholder="SubMap" [(ngModel)]="roomins.SubMap">
          </td>
          <td>
            <input placeholder="Building" [(ngModel)]="roomins.Building">
          </td>
          
          <td>
            <button (click)="insert(roomins)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let room of room">
          <td>
            <input [(ngModel)]="room.Name">
          </td>
          <td>
            <input [(ngModel)]="room.Features">
          </td>
          <td>
            <input [(ngModel)] = "room.AllSeats">
          </td>
          <td>
            <input [(ngModel)] = "room.Seats">
          </td>
          <td>
            <input [(ngModel)] = "room.SubMap">
          </td>
          <td>
            <input [(ngModel)] = "room.Building">
          </td>
          <td>
            <button (click)=update(room)>Update</button>
          </td>
          <td>
            <button (click)="delete(room)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>